.App {

}

.App-logo {
  animation: App-logo-spin infinite 5s linear;
  height: 40px;
  margin-top: 3px;
  margin-left: 5%;
}

.App-header {
    background: linear-gradient(to right, #000000, #05284c);
  height: 50px;
  padding: 0px;
  color: white;
  border-bottom: .02px solid white;
box-shadow: 1px 1px 15px #ffffff;
position: sticky;


}
.btn{
  margin: 10px;
  box-shadow: 3px 3px 5px #000000;

}
.btn:hover{
  margin: 10px;
  box-shadow:  7px 7px 5px #000000;

}

.menu {
  font-size: 1.3em;
  float: right;
  margin-right: 5%;
  margin-top: 10px;
  display: inline-block;
  padding: 0px;

}
.menu li{
  display: inline-block;
  margin-right: 25px;
  padding: 0px;

}

header a{
  color:#ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;

}
header a:hover{
  color: #39c6f9;
    text-decoration: none;
  font-weight: bold;
}

.App-Banner {
  padding:0;
  margin:0;
  max-height: 400px;
  max-width: 100%;

}

.App-intro {
  font-size: large;
}
.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
}


#showcase{
	min-height: 650px;
	background:url('./img/galaxy.jpg') no-repeat -200px 0;
	text-align: center;

}

#showcase h1{
	font-size: 85px;
	margin-bottom: 10px;
	margin-right: 45%;
	margin-top: 100px;
	text-shadow: 2px 2px 12px #ececec;
  text-align: center;
  color: #ffffff;


}
#showcase p{
	font-size: 20px;
	margin-right: 50%;
  text-align: center;
    color: #ffffff;
}

.row{
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  padding-top: 0px;

  overflow: hidden;
}

.col-xl-6 col-centered{
  margin: 0;
  padding: 0;
}

.col-xl-6{
  width: 100%;
  height: auto;
  margin-bottom: 150px;

}
.col-xl-6 h1, p{
  width: 100%;

padding-left: 20px;
padding-bottom: 20px;
  height: auto;

}


.laptop{


  width: 100%;
  height: 90%;
    overflow: hidden;
  margin-top: 90px;
  margin-left: 25%;
}
.youtube{
  border: 2px #48dbfb dashed;
  margin-top: 20px;
  text-align: center;
}

.card{
  margin: auto;
  margin-bottom: 10px;
  box-shadow: 1px 1px 10px #000000;
  width: 90%;


}
.card-text{
  padding: 0;
  margin:auto;

}
.card-block{
  margin: 20px;
}
.left-card{
  padding: 0;
  margin:auto;
  float: left;
  margin-left: 20%;
}
.right-card{
  padding: 0;
  margin:auto;
  float: right;
  margin-right: 20%;
}
.thumbnail{
  border-radius: 50%;
  width: 80px;
  box-shadow: 1px 1px 4px #000000;
}
.thumbnail:hover{

    box-shadow: 1px 1px 30px #000000;
}



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
